# compiled
*.class
/bin/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse
.classpath
.project
.idea/
.settings

#intelliJ
*.iml
*.bat
.idea/
target/
dependency-reduced-pom.xml

# other
.DS_Store
*.zip
config.properties
.csv#
src/test/resources/test\.properties
